In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('titanic.csv', usecols=['Pclass','Age','Fare','Survived'])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [3]:
df['Age'].fillna(df.Age.median(),inplace=True)

In [4]:
df.isnull().sum()

Survived    0
Pclass      0
Age         0
Fare        0
dtype: int64

## 1. Standard Scaler

In [5]:
#### standarisation: We use the Standardscaler from sklearn library
from sklearn.preprocessing import StandardScaler

In [6]:
scaler=StandardScaler()
### fit vs fit_transform
# Fit: We train the data only using the fit and do mot change the data
# Transform : We apply the algo and change the data

df_scaled=scaler.fit_transform(df)

In [7]:
pd.DataFrame(df_scaled)

            0         1         2         3
0   -0.789272  0.827377 -0.565736 -0.502445
1    1.266990 -1.566107  0.663861  0.786845
2    1.266990  0.827377 -0.258337 -0.488854
3    1.266990 -1.566107  0.433312  0.420730
4   -0.789272  0.827377  0.433312 -0.486337
..        ...       ...       ...       ...
886 -0.789272 -0.369365 -0.181487 -0.386671
887  1.266990 -1.566107 -0.796286 -0.044381
888 -0.789272  0.827377 -0.104637 -0.176263
889  1.266990 -1.566107 -0.258337 -0.044381
890 -0.789272  0.827377  0.202762 -0.492378

[891 rows x 4 columns]